table {
	border: 1px solid grey;
}

button {
	border: 1px solid grey;
	text-align: center;

  background: #e0e0e0;
  background-image: -webkit-linear-gradient(top, #e0e0e0, #5d6769);
  background-image: -moz-linear-gradient(top, #e0e0e0, #5d6769);
  background-image: -ms-linear-gradient(top, #e0e0e0, #5d6769);
  background-image: -o-linear-gradient(top, #e0e0e0, #5d6769);
  background-image: linear-gradient(to bottom, #e0e0e0, #5d6769);
  -webkit-border-radius: 32;
  -moz-border-radius: 32;
  border-radius: 32px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 14px;
  padding: 4px 12px 4px 11px;
  text-decoration: none;
}

button:hover {
  background: #c3cfd6;
  background-image: -webkit-linear-gradient(top, #c3cfd6, #000000);
  background-image: -moz-linear-gradient(top, #c3cfd6, #000000);
  background-image: -ms-linear-gradient(top, #c3cfd6, #000000);
  background-image: -o-linear-gradient(top, #c3cfd6, #000000);
  background-image: linear-gradient(to bottom, #c3cfd6, #000000);
  text-decoration: none;
}

h1, h2, h3, p{
	margin-top:40px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #999999;
}

.align-center {
    display: block;
    margin: 1.0em auto;
    text-align: center;
}

table {
	margin-top:40px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

fieldset { 
	border:1px solid grey;
}

legend {
  padding: 0.2em 0.5em;
  border:1px solid grey;
  color: grey;
  font-size:90%;
  text-align: left;
}

.updateForm {
	display: block;
    margin: 1.0em auto;
    text-align: center;
}


