table {
	border: 1px solid grey;
}

button {
	border: 1px solid grey;
}

h1, h2, h3, p{
	margin-top:40px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #999999;
}

.align-center {
    display: block;
    margin: 1.0em auto;
    text-align: center;
}

table {
	margin-top:40px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

fieldset { 
	border:1px solid grey;
}

legend {
  padding: 0.2em 0.5em;
  border:1px solid grey;
  color: grey;
  font-size:90%;
  text-align: left;
}


