<h1>Workout Tracker</h1>
<h2>Edit Your Exercises<h2>

<form>
  <fieldset>
    <legend>Update exercise:</legend>

    <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" size="20">
    </p>

    <p>
    <label for="reps">Reps:</label>
    <input type="number" name="reps" id="reps">
    </p>

    <p>
    <label for="weight">Weight:</label>
    <input type="number" name="weight" id="weight">

    <input type="radio" name="units" value= 1 >lbs
    <input type="radio" name="units" value= 0 >kilos
    </p>

    <p>
    <label for="date">Date:</label>
    <input type="date" name="date" id="date">
    </p>


    <button id="updateExercise" type="submit">Update Exercise</button>

  </fieldset>
</form>
