<h1>Workout Tracker</h1>

<form>
  <fieldset class="align-center">
    <legend>Add exercise:</legend>

    <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" size="20">
    </p>

    <p>
    <label for="reps">Reps:</label>
    <input type="number" name="reps" id="reps">
    </p>

    <p>
    <label for="weight">Weight:</label>
    <input type="number" name="weight" id="weight">

    <br>
    <input type="radio" name="measure" value=1 >lbs
	<input type="radio" name="measure" value=0 >kgs
    </p>

    <p>
    <label for="date">Date:</label>
    <input type="date" name="date" id="date">
    </p>

    <br>

    <div class="add">
    	<button id="addExercise" type="submit">Add Exercise</button>
    </div>

  </fieldset>
</form>

</br>
</br>

<h2>Current Workout</h2>


