<!doctype html>
<html>
<head>
	<title>Workout Tracker</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	{{{body}}}
	<script src="/script.js"></script>
</body>
</html>